
            {% for category in categories %}
                <li><a class="text-decoration-none text-warning" href="{{ path('show_posts_from_category', {'alias': category.alias}) }}">{{ category.name }}</a></li>
            {% endfor %}
