{% extends "layouts/base.html.twig" %}

        {% block content %} 

        <div class="row">
                <div class="col-12 text-center my-2">Tous les articles</div>
        </div>
        
        {% endblock %}

