{% extends "layouts/base.html.twig" %}

{% block content %}

    <div class="row">
            <h1 class="col-12 text-center my-2">S'inscrire</h1>
    </div>

     <div class="row">
                <div class="col-12">
                        {% include "components/_flashe.html.twig" %}
                </div>
    </div>

    
    <div class="row">
    {{form(form, {'attr': {novalidate: 'novalidate'}} ) }}
    </div>
    
{% endblock %}